body{
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
}

:root{
    --primary-color: #bad9a2;
    --secondary-color: #81726A;
    --accent-color: #f0f5cc;
    --body-color: #ffffff;
    --text-color: #000000;
}