nav{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline: 4px;
}

.navlink{
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 12px;
    color: black;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.navlink:hover{
    background-color: var(--secondary-color);
    color: white;
}

a{
    text-decoration: none;
    color: unset;
}